.comment {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 55%;
    border-radius: 20px;
    background-color: #414141;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.comment__title {
    margin-top: 10px !important;
    margin: var(--spacing-medium);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: rgb(218, 165, 32);
}
.comment-element {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}
.comment__text {
    font-size: 15px;
    color: rgb(218, 165, 32);
}
.comment__name{
    color: rgb(218, 165, 32);
}

.comment__btn {
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    font-weight: 700;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

#newcomment_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#userText {
    height: 130px;
    width: 90%;
    text-align: center;
}